html, body {
    margin:0;
    padding: 0;
}

#header{
    margin:0;
    padding:0;
    border:1px solid;
    background-color: #121212;
    position: fixed;
    top:0;
    width:100%;
}


#c1, #c2, #c3, #c4{
    display: inline-block;
}

#c1{ 
    padding: 5px 8% 5px 13%;
    font-size: 250%;
    color: gold;
    font-family: 'East Sea Dokdo', cursive;
    font-variant: small-caps;
    
}

#c2{
    padding: 10px 5% 15px 16%;
    font-size: 130%;
    color: #ffffff;
    font-family: 'Yeon Sung', cursive;
}

#c3{
    padding: 10px 5% 15px 1%;
    font-size: 130%;
    color: #ffffff;
    font-family: 'Yeon Sung', cursive;
}

#c4{
    padding: 10px 5% 15px 1%;
    font-size: 130%;
    color: #ffffff;
    font-family: 'Yeon Sung', cursive;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: red;
}

#social{
    margin: -1233px 0 0 80px;
    width: 50px;
    height: 50px;
    position:fixed;
}
#github{
    /* margin: -1300px 0 0 90px; */
    width: 50px;
    height: 50px;
    background:#ffffff;
    border-radius: 40px;
    position:fixed;

}

#insta{
    margin: 90px 0 0 0;
    width: 50px;
    height: 50px;
    position:fixed;
}

#main{
    background-color:#111827;
    width:auto;
    height: 100%;
}

#textar{
    padding: 0 200px 0 200px;
    min-height: 572px ;
    flex: 1 1 auto;
    height: 1400px;
    background-color:#111827;
}

#heading{
    margin: -559px 0 0 0;
    color:#ffffff;
    font-size: 55px;
    font-weight: lighter;
    font-family: 'Lobster', cursive;
}

#para_top{
    color: #ffffff;
    margin: 50px 0 0 1px;
    font-size: x-large;
    font-family: 'Redressed', cursive;
}

p.para{
    color: #ffffff;
    margin: auto;
    font-size: x-large;
    font-family: 'Redressed', cursive;
}

#img1{
    float: right;
    width: 333px;
    height: 245px;
}

#long_img{
    padding: 30px 0 0 0;
    width: 949px;
    height: 340px
}